<header>
    <div class="header">
        <img id="logo" src="/Assets/logo.jpg" alt="logo">
        
            <h1 id="title">Bibliotheque Port-Cartier</h1>
        
        
    </div>
</header>